<h1 class="text-center my-3">Bienvenido al MERCADO WEB, seleccione sus productos</h1>

<div class="continer mt-5">
    <div class="row row-cols-1 row-cols-md-3 tex-center">
        {{>producto }}
    </div>
</div>