<nav class="navbar navbar-dark bg-success">
    <div class="container">
        <a class="mx-auto" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
            {{>carrito}}
        </a>
    </div>
</nav>


<footer class="bg-success text-center text-light p-3">
    <p>Mervado Web 🥬</p>
</footer>

<style>
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
</style>